body {
  background-color: white;
}

.page-content-wide {
  margin-left: 350px;
  width: calc(100% - 350px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content-slim {
  margin-left: 70px;
  width: calc(100% - 70px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.notice, .alert {
  display: none;
}

.pages-header {
  height: 30vh;
  position: relative;
  h1 {
    width:100%;
    text-align: right;
    padding: 60px 40px 0px 0px;
    position: relative;
    top: -190px;
  }
  span {
    background-color: #e82f0a;
    color: #feead3;
    font-size: 4.5rem;
    padding: 0px 5px;

  }
}

section.pages {
  margin: 60px auto;
  max-width: 900px;
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}

section p {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
