<div class="sidebar-sticky wide-nav admin-nav">
  <ul class="flex-column">
    <li class="nav-item">
      <i class="fas fa-tachometer-alt"></i>
      Dashboard
    </li>
    <li class="nav-item item-toggle" id="users-toggle">
      <i class="fas fa-user"></i>
      Users
    </li>
    <li class="nav-item sub-nav-item">
      All Users
    </li>
    <li class="nav-item sub-nav-item">
      Add New
    </li>
    <li class="nav-item item-toggle" id="issues-toggle">
      <i class="fas fa-book-open"></i>
      Issues
    </li>
    <li class="nav-item sub-nav-item">
      All Issues
    </li>
    <li class="nav-item sub-nav-item">
      Add New
    </li>
    <li class="nav-item item-toggle" id="media-toggle">
      <i class="fas fa-file"></i>
      Media
    </li>
    <li class="nav-item sub-nav-item">
      All Media
    </li>
    <li class="nav-item sub-nav-item">
      Add New
    </li>

  </ul>
</div>
