
<div class="slim-nav">
  <%= link_to root_path do %>
    <div class="logo-container" style="background-image: url(<%= image_path 'ninetwenty-logo-slim.png' %>)">
    </div>
  <% end %>
  <div class="social-container">
    <ul class="social-list">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
  </div>
</div>
