
<div class="slim-nav">
  <div class="logo-container">
    <%= link_to root_path do %>
      <%= image_tag('/assets/ninetwenty-logo-slim.png') %>
    <% end %>
  </div>
  <div class="social-container">
    <ul class="social-list">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
  </div>
</div>
