<div class="pages-header" style="background-image: url('https://images.unsplash.com/photo-1568378814482-f3c60866fc6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1322&q=80'); background-size: cover; background-position-y: 710px">
  <div class="color-filter"></div>

  <!-- <h1><span>About</span></h1> -->
</div>
<section class="pages about-content">
  <h1>About</h1>
  <p>Nine Twenty is a digital variety multi-media magazine. Each edition casts a wide net over current affairs, policy, politics, and culture. Our contributors are united by their desire to present familiar stories from a different angle.</p>

  <p>Nine Twenty magazine: ‘Roasting technical jargon like a spiced tripe skewer’. Since 2019.</p>

  <p>If you have a story that you want to tell, why not get in touch?</p>

  <p>Either use the contact form or email a pitch to:</p>

  <p>ninetwentymagazine@gmail.com</p>
</section>
s
