a {
  text-decoration: none;
  color: $cream;
  letter-spacing: 1px;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: $cream;
}

// W I D E.   N A V.   S T Y L E S.

.wide-nav {
  width: 350px;
  height: 100vh;
  background-color: $ninetwenty;
  color: $cream;
  position: fixed;
  text-align: center;
  display: flex;
  // display: none;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  .logo-container {
    height: 250px;
    width: 250px;
    background-size: cover;
    // object-fit: cover;
    margin: 40px auto 60px;
  }
  ul {
    padding: 0px;
    margin: 20px 0px;
    li {
      list-style: none;
      padding: 10px;
    }
  }

  ul.social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    i {
      font-size: 28px;
    }
  }
}



// S L I M.   N A V.   S T Y L E S.
.slim-nav {
  width: 70px;
  height: 100vh;
  background-color: $ninetwenty;
  color: $cream;
  position: absolute;
  display: flex;
  // display: none;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-end;
  .logo-container {
    height: 100%;
    text-align: center;
    padding-top: 20px;
    img {
      width: 20px;
    }
  }
  .social-container {
    position: relative;
    bottom: 0px;
    ul.social-list {
      margin: 50px 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      li{
        list-style: none;
        i {
          font-size: 28px;
          padding: 10px 10px;
          color: $cream;
        }
      }
    }
  }
}



// A D M I N.   N A V.   S T Y L E S.
.admin-nav {
  .logo-container {
    margin: 40px auto 20px;
  }

  ul {
    font-family: $headers-font;
    text-align: left;
    font-size: 20px;
    color: $cream;
    li.nav-item {
      padding: 10px 25px;
      cursor: pointer;
    }
    li.nav-item.active, li.nav-item:hover {
      color: black;
    }
    li.sub-nav-item {
      background-color: $ninetwenty-light;
      display: none;
      padding-left: 70px;
    }
    li.sub-nav-item.active {
      display: list-item;
    }
    li.sub-nav-item.show {
      display: list-item;
    }
    i {
      margin-right: 20px;
      width: 15px;
    }
  }
}
