.new-media {
  margin: 50px 0px 150px;
  h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  .media-form {
    width: 550px;
    margin: auto;
    label {
      padding: 0px;
      margin: 0px;
      font-family: $headers-font;
    }
    select {
      width: 100%;
      font-family: $headers-font;
      min-height: 35px;
      height: 100%;
    }
    select.optional {
      height: 100%;
    }
    .form-submit {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
}

trix-toolbar .trix-button:not(:disabled) {
  background-color: white;
}

.new-media .media-form .trix-content {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    height: 400px;
}

trix-toolbar .trix-button--icon {
  width: 1.4em;
  height: 1.3em;
  margin-right: 3px;
  border: none;
}

trix-toolbar .trix-button-group {
  border: none;
}

trix-toolbar .trix-button:not(:first-child) {
  border: none;
}
